@charset "utf-8";
/*body{
    background-image: url(images/back_live.png);
    margin: 0;
    padding: 0;
}*/

.top_img{
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-image: url(images/back_live.png)
}

.logo{
    text-align: center;
}
.logo img{
    width: 300px;
    height: auto;
}